{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2019",
    "paths": {
      "@root/*": ["./src/*"],
      "@database/*": ["./src/database/*"],
      "@interfaces/*": ["./src/interfaces/*"],
      "@config/*": ["./src/config/*"],
      "@processes/*": ["./src/processes/*"],
      "@services/*": ["./src/services/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
